<h1>Impressum</h1>
<body>
<br />
<br />
 <p>Möpelmiesere 4<br />
10117 Monster<br />
<br />
Tel.: 0555 / 18 580-0<br />
Fax: 0555 / 18 580-95 25<br />
<br />
Fragen und Rückmeldungen bitte an folgende E-Mail-Adresse:<br/>
<a href="mailto:poststelle@test.de">poststelle@test.de</a></p>

</body>

