<h1>Kontakt</h1>
<div>
		<b>Kundeninformationen</b>
		<p>
			Name: <input type="text" name="name" class="feld">
		</p>
		<p>	
			E-Mail: <input type="text" name="mail" class="feld">
		</p>
		<p>	
			Betreff: <input type="text" name="betreff" class="feld">
		</p>
		<p>Nachricht:<br>
			<textarea name="nachricht" cols="1" rows="5"></textarea>
		</p>
		<p>
			<input type="submit" name="senden" class="button" value="Senden">
		</p>
</div>