<footer class="footer">
  <small>
    RailsCalendar &copy; Patrick Laube und Sascha Weidner
  </small>
  <nav>
    <ul>
      <li><%= link_to "Impressum",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
    </ul>
  </nav>
</footer>