<!DOCTYPE html>
<html>
<head>
  <title>Termin Planer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="app/assets/stylesheets" href="nav.css"> 
  <!--><link rel="stylesheet" type="app/assets/stylesheets" href="application.css"><!-->
  
  
</head>
<body class="no-js">

<script>

			var el = document.getElementsByTagName("body")[0];

			el.className = "";

		</script>

        <noscript>

        	<!--[if IE]>

            	<link rel="stylesheet" href="css/ie.css">

            <![endif]-->

        </noscript>

		<nav id="topNav">

        	<ul>

          		<li><a href="#" title="Termine">Termine</a>

                	<ul>
						<li><a href="/termin/ansehen" title="Termine ansehen">Termine ansehen</a></li>

                    	<li><a href="/termin/hinzufuegen" title="Hinzufügen">Hinzufügen</a></li>

                        <li><a href="/termin/bearbeiten" title="Bearbeiten">Bearbeiten</a></li>

                        <li><a href="/termin/loeschen" title="Löschen">Löschen</a></li>

                        <li class="last"><a href="/termin/freigeben" title="Freigeben">Freigeben</a></li>

                    </ul>        

                </li>           

			  <li><a href="/home/kontakt" title="kontakt">Kontakt</a></li>
			  
              <li class="last"><a href="/home/impressum" title="impressum">Impressum</a></li>

          </ul>

        </nav>

		<script src="js/jquery.js"></script>

        <script src="js/modernizr.js"></script>

		<script>

			(function($){

				

				//cache nav

				var nav = $("#topNav");

				

				//add indicator and hovers to submenu parents

				nav.find("li").each(function() {

					if ($(this).find("ul").length > 0) {

						$("<span>").text("^").appendTo($(this).children(":first"));



						//show subnav on hover

						$(this).mouseenter(function() {

							$(this).find("ul").stop(true, true).slideDown();

						});

						

						//hide submenus on exit

						$(this).mouseleave(function() {

							$(this).find("ul").stop(true, true).slideUp();

						});

					}

				});

			})(jQuery);

		</script>

<%= yield %>

</body>
</html>
